:root {
    --white-bg: #fff8ff;
    --green: #60c2a4;
    --light-green: #9df0ac;
    --green-yellow: #dbef98;
    --purple: #605cB8;
    --red-coca: #e7223a;
    --red-brown:#360103;
    --brown: #6f1712;
    --light-brown:#ba432e;
    --light-blue:#3AA6B9;
    --pink:#FF9EAA;
}
